@import '../css/animations.css';

.swap-page {
  padding-top: 170px !important;
  padding-bottom: 96px !important;
  min-height: 100vh !important;
  background-image: url('../assets/bg/bg-net.svg'),
    linear-gradient(360deg, #297045 2.96%, #23933c 100%) !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: bottom !important;
}
